<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{url_for('static', filename='css/confirmation_page.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">

    <title>Registration Activation</title>
</head>
<body>

  <div class="container-fluid">
    <div class="jumbotron text-center full-height">
      <h1>Thank You</h1>
      <p><em>Your registration has been actived through < {{ email }} >.</em></p>
    </div>

    <footer class="text-center">
      <hr>
      <p><a href="https://www.google.com.br" target="_blank">google</a></p>
    </footer>
  </div>

  <script src="{{url_for('static', filename='css/bootstrap.min.js')}}"></script>
</body>
</html>